.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 24px;
}

.date-input {
  width: 200px;
  font-size: 14px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.spacer {
  width: 32px;
}
