<div class="login-container">
  <mat-card class="login-card">

    <div *ngIf="state == STATE_LOGIN">
      <h4>Sign in</h4>
      <mat-form-field>
        <input matInput placeholder="Enter your email"
               [formControl]="emailControl" required
               [(ngModel)]="email">
        <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password"
               [type]="hide ? 'password' : 'text'"
               [formControl]="passwordControl"
               [(ngModel)]="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="forgotPassword()">Forgot password</button>
        <button mat-raised-button color="primary" (click)="signIn()">Sign in</button>
      </mat-card-actions>
    </div>

    <div *ngIf="state == STATE_ATTRS">
      <h4>Set your profile info</h4>
      <mat-form-field>
        <input type="text" matInput placeholder="First name" [(ngModel)]="firstName">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Last Name" [(ngModel)]="lastName">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Phone number" [(ngModel)]="phoneNumber">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="New password" [type]="hide ? 'password' : 'text'"
               [(ngModel)]="password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="saveAttrs()">Save</button>
      </mat-card-actions>
    </div>

    <div *ngIf="state == STATE_RESET">
      <button mat-icon-button (click)="state = STATE_LOGIN">
        <mat-icon matPrefix>arrow_back</mat-icon>
      </button>
      <h4>Reset your password</h4>
      <mat-form-field>
        <input matInput placeholder="Enter your email"
               [formControl]="emailControl" required
               [(ngModel)]="email">
        <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendVerificationCode()">Send code</button>
      </mat-card-actions>
    </div>

    <div *ngIf="state == STATE_CODE">
      <h4>Set your new password</h4>
      <mat-form-field>
        <input type="text" matInput placeholder="Code" [(ngModel)]="confirmCode">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="New password"
               [type]="hide ? 'password' : 'text'"
               [formControl]="passwordControl"
               [(ngModel)]="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="confirmVerificationCode()">Confirm</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
