<div class="app-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Ejazdy - {{userType}}</h1>
    <span class="spacer"></span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav class="sidenav" #sidenav mode="side" opened="true" [fixedInViewport]="false">
      <mat-nav-list>
        <div *ngFor="let item of items">
        <a mat-list-item [routerLink]="[item.link]" routerLinkActive="selected">
          {{item.name}}
        </a>
        <mat-divider></mat-divider>
        </div>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
