<form>
  <h1 mat-dialog-title>New lesson</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [matDatepicker]="dp" placeholder="Select a date" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Begin"
             [formControl]="startTime" required
             (input)="checkValidTimeRange()">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="End"
             [formControl]="stopTime" required
              (input)="checkValidTimeRange()">
    </mat-form-field>
    <mat-error *ngIf="timeRangeError">
      {{timeRangeError}}
    </mat-error>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary"
            [mat-dialog-close]="null">
      Cancel
    </button>
    <button type="submit" mat-raised-button color="primary"
            (click)="submit()">
      Create
    </button>
  </div>
</form>
